<div class="col-md-3">
  <a class="card" href="#">
    {{ 'product-1' | placeholder_svg_tag }}
    <div class="card-body">
      <h5 class="card-title">Product title</h5>
      <p class="card-text">{{ '120' | money }}</p>
    </div>
  </a>
</div>