<div class="container">
  <h5 class="fw-bold mt-3 mb-3">Account</h5>

  <div class="row">
    <div class="col-md-8">
      {% assign number_of_orders = customer.orders | size %}
      <p class="fw-bold m-4">Order history</p>
      {% if number_of_orders > 0 %}
        <table class="table table-responsive text-center">
          <thead class="table-head text-center">
            <th>Order</th>
            <th>Product</th>
            <th>Fiancial status</th>
            <th>Status</th>
            <th>Price</th>
          </thead>
          <tbody>
            {% paginate customer.orders by 10 %}
              {% for order in customer.orders %}
                {% render 'customer-orders-table', order: order %}
              {% endfor %}
              {% render 'pagination', pagination: paginate %}
            {% endpaginate %}
          </tbody>
        </table>
      {% else %}
        <p class="fw-bold">You currently don't have any order</p>
      {% endif %}
    </div>
    <div class="col-md-4">
      <p class="fw-bold m-4 text-center">Account details</p>

      <p>{{ customer.default_address | format_address }}</p>

      <a href="{{ routes.account_addresses_url }}">View address</a>
    </div>
  </div>
</div>